.column-footer {
    display: flex;
    background: #DFE3E6;
    color: #6B808C;
    border-radius: 3px;
    cursor: pointer;
}

.column-footer_active {
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.column-footer:hover {
    background: #c2c5c8;
}

.column-footer_active:hover {
    background: #DFE3E6;
}

.column-footer__icon {
    margin-right: 8px;
}

.column-footer__icon-cross {
    cursor: pointer;
}