* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    line-height: 19px;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf");
}

html {
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}