@import "reset.css";
@import "column.css";
@import "cards-list.css";
@import "card.css";
@import "column-footer.css";


html {
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.app {
    box-sizing: border-box;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
}

.app__column {
    box-sizing: border-box;
    width: 272px;
    min-width: 272px;
    max-height: 100%;
    margin-right: 12px;
}

.icon {
    height: 15px;
    width: 15px;
    display: block;
}

.icon-plus {
    background: url(../images/plus.png);
}

.icon-cross {
    background: url(../images/cross.png);
}

.button {
    background: #39C071;
    border-radius: 3px;
    padding: 7px 8px 4px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
}

.button:hover {
    background: #37b164;
}

.button:active {
    background: #37a356;
}

.button:focus {
    outline:0;
}

.blank-space {
    background: #C9D2D9;
    border-radius: 3px;
    display: block;
}